/* Globals Html */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif;
}

*, *:before, *:after {

  box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
}
/*========================= Header =========================*/

.header-inicial {
	background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  height: 600px;
}

.header-inicial h1 {
  color: #fff;
  margin-top: 290px;
  margin-left: 25rem;
  font-size: 40px;
}

.header-inicial h2 {
  color: #fff;
  margin-left: 25rem;
  font-size: 20px;
}

.logo {
	height: 11rem;
  margin-top: -3px;
  margin-left: 120px;
  float: left;
}

.navegacion {
  background-color: #E1E1E1;
  height: 5rem;
  margin: -1rem;
}

.navegacion ul li {
   margin-right: -2px;
   margin-top: -9px;
   padding: 3rem;
   display: inline-block;

}

.navegacion ul li a {
  text-decoration: none;
  font-size: 12px;
  height: 8rem;
  color: #3F3F3F;

}

.navegacion ul li:hover {
  background:#CCCCCC;
  height: 5rem;

}

/*========================= contenido Acerca ==================*/

.contenido-acerca {
	background: #CCCCCC;
	height: 300px;
	width: 100%;
	float: left;
  

}

.definicion {
	 max-width: 1000px;
   margin: 0 auto;
   padding: 49px;
}

.definicion p {
	float: left;
	width: 70%;
	font-size: 11px;
}
/*========================= botones =========================*/

.button-square {
  margin-left: 16px;
  height: 50px;
  width: 180px;
  border: 2px solid #418DBA;
  color: #fff;
  background: #418DBA;
}

aside {
	float: left;
  background: #E1E1E1;
  height: 100px;
  width: 100%;
}

.button-pill {
	margin-left: 104px;
  margin-top: 27px;
  border-radius: 20px;
  height: 50px;
  width: 180px;
  color: #fff;
  background: #418DBA;
  border: 2px solid #418DBA;
}

.button-small {
  width: 100px;
  margin-left: 1px;
}

/*======================= contenedor de imagenes =================*/

.contenedor-imagenes {
  max-width: 1000px;
  margin: 0 auto;
  height: 1000px;
}

.info {
  margin-top: 43px;
  margin-left: 117px;
  float: left;
}

.info a {
  margin-top: 24px;
  margin-left: 300px;
  float: left;
  height: 40px;
  color: #5A8BB4;
  
}

hr {
  width: 100%;
}

.img {
  width: 16%;
  height: 132px;
  background-color: #808080;
  display: inline-block;
  padding: 44px;

}

.info .title-info {
  text-align: center;
}

/*=========================  Noticias y Eventos =====================*/


.contenedor-imagenes h3, a{
  color: #4D89B0;
}

.noticias-eventos {
  margin-top: 42px;
  float: left;
}

.noticias {
  float: left;
  width: 29%;
}

.eventos {
  float: left;
  width: 29%;
  margin-left: 54px;
}

.reserve {
  float: right;
  width: 15%;
  margin-right: 135px;
}

.ver-noticias {
  margin-left: 181px;
}


/*========================= Footer ===============================*/

.footer-contacto {
  height: 300px;
  background-color: #FBFBFB;
}


.siganos-en {
  max-width: 1000px;
  margin: 0 auto;

}

.contacto-inicio {
  float: right;
  width: 35%;
  margin-top: 32px;
  font-size: 12px;
}

.title-footer {
  float: left;
  height: 53px;
  width: 20%;
  margin-top: 56px;
}

.links-footer {
  margin-top: 59px;
  float: left;
  list-style: none;
  font-size: 15px;
  color: #4690B7;
}

